[submodule "Data-Structures-Ass4"]
	path = Data-Structures-Ass4
	url = git@github.com:roeylange/Data-Structures-Ass4.git
[submodule "Data-Structures-Ass2"]
	path = Data-Structures-Ass2
	url = git@github.com:roeylange/Data-Structures-Ass2.git
